USE [master]
GO
/****** Object:  Database [EmployeeBD]    Script Date: 13.11.2024 11:21:23 ******/
CREATE DATABASE [EmployeeBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmployeeBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmployeeBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeBD]
GO
/****** Object:  Table [dbo].[UserGender]    Script Date: 13.11.2024 11:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGender](
	[id] [int] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserGender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 13.11.2024 11:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[id] [int] NOT NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.11.2024 11:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[SeriaPasporta] [nvarchar](50) NOT NULL,
	[NomerPasporta] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[LastEntry] [nvarchar](50) NULL,
	[EntryType] [bit] NULL,
	[IdGender] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UserGender] ([id], [Gender]) VALUES (1, N'женский')
INSERT [dbo].[UserGender] ([id], [Gender]) VALUES (2, N'мужской')
GO
INSERT [dbo].[UserRole] ([id], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[UserRole] ([id], [Role]) VALUES (2, N'Исполнитель')
INSERT [dbo].[UserRole] ([id], [Role]) VALUES (3, N'Менеджер')
GO
INSERT [dbo].[Users] ([Id], [IdRole], [UserName], [Email], [Login], [Password], [PhoneNumber], [SeriaPasporta], [NomerPasporta], [DateOfBirth], [LastEntry], [EntryType], [IdGender]) VALUES (1, 3, N'Акимов Ян Алексеевич', N'gohufreilagrau-3818@yopmail.com', N'akimovya', N'bn069Caj', N'+7(781) 785-5837', N'2367', N'558134', CAST(N'1993-07-03' AS Date), N'1675231191000,00', 1, 2)
INSERT [dbo].[Users] ([Id], [IdRole], [UserName], [Email], [Login], [Password], [PhoneNumber], [SeriaPasporta], [NomerPasporta], [DateOfBirth], [LastEntry], [EntryType], [IdGender]) VALUES (2, 2, N'Гончарова Ульяна Львовна', N'xawugosune-1385@yopmail.com', N'goncharovaul', N'pW4qZhL!', N'+7(230) 906-8815', N'7101', N'669343', CAST(N'1975-06-22' AS Date), N'1676296748000,00', 1, 1)
INSERT [dbo].[Users] ([Id], [IdRole], [UserName], [Email], [Login], [Password], [PhoneNumber], [SeriaPasporta], [NomerPasporta], [DateOfBirth], [LastEntry], [EntryType], [IdGender]) VALUES (3, 1, N'Анохина Елизавета Матвеевна', N'leuttevitrafo1998@mail.ru', N'anochinaem', N'y6UNmaJg', N'+7(555) 444-8316', N'3455', N'719630', CAST(N'1991-08-16' AS Date), N'1676051882000,00', 1, 1)
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserGender] FOREIGN KEY([IdGender])
REFERENCES [dbo].[UserGender] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserGender]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRole] FOREIGN KEY([IdRole])
REFERENCES [dbo].[UserRole] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRole]
GO
USE [master]
GO
